[submodule "lib/ogsql-parser"]
	path = lib/ogsql-parser
	url = git@github.com:c2j/ogsql-parser.git
[submodule "lib/ogexplain-analyzer"]
	path = lib/ogexplain-analyzer
	url = git@github.com:c2j/ogexplain-analyzer.git
[submodule "lib/metamorphosis"]
	path = lib/metamorphosis
	url = git@github.com:c2j/metamorphosis.git
[submodule "lib/codeweb"]
	path = lib/codeweb
	url = git@github.com:c2j/codeweb.git
[submodule "lib/grep-excel"]
	path = lib/grep-excel
	url = git@github.com:c2j/grep-excel.git
[submodule "lib/flux-gauss"]
	path = lib/flux-gauss
	url = git@github.com:c2j/flux-gauss.git
[submodule "lib/rust-opengauss"]
	path = lib/rust-opengauss
	url = git@github.com:c2j/rust-opengauss.git
[submodule "lib/WDRProbe"]
	path = lib/WDRProbe
	url = git@github.com:c2j/WDRProbe.git
[submodule "lib/SP-Complexity-Evaluator"]
	path = lib/SP-Complexity-Evaluator
	url = git@github.com:c2j/SP-Complexity-Evaluator.git
[submodule "lib/astgrep"]
	path = lib/astgrep
	url = git@github.com:c2j/astgrep.git
[submodule "lib/CodeRoughcollie"]
	path = lib/CodeRoughcollie
	url = git@github.com:c2j/CodeRoughcollie.git
[submodule "lib/ogagila"]
	path = lib/ogagila
	url = https://github.com/c2j/ogagila
